@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  max-width: 100%;
  height: auto;
}

article,
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

article {
  width: 600px;
  height: 400px;
  color: white;
  background-color: #183059;
  gap: 35px;
  border-radius: 10px;
}

form {
  gap: 20px;
}

select,
button {
  width: 400px;
  height: 40px;
  border-radius: 7px;
}

button {
  color: white;
  border-color: transparent;
  background-color: #1139a9;
  transition: ease-out 0.4s;
}

button:hover {
  background-color: #0077b6;
}

#information,
#form-error {
  display: none;
}

#form-error__message {
  color: red;
}

@media screen and (max-width: 650px) {
  body {
    font-size: 15px;
  }

  main,
  article,
  form {
    width: 100%;
  }

  select,
  button {
    width: 90%;
  }

  body {
    background-repeat: repeat;
  }
}
